* {
  box-sizing: border-box;
}

.container {
  border-radius: 10px;
  box-shadow: 10px 20px 50px rgba(44, 27, 228, 0.219);
  padding: 0 70px 20px 0;
}
.wrapper {
  height: 500px;
  display: flex;
  column-gap: 100px;
}
.steps {
  width: 35%;
  height: 100%;
  background-image: url(../assets/bg-sidebar-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.input-field {
  display: flex;
  flex-direction: column;
}
.next-confirm-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;

  padding: 10px 12px;
  background-color: hsl(213, 96%, 18%);
  border-style: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.back-btn {
  border: none;
  color: rgb(157, 156, 156);
  position: absolute;
  bottom: 30px;
  left: 340px;
  cursor: pointer;
}
.back-btn:hover{
    color: hsl(213, 96%, 18%);
    transition: 0.5s;
}
form {
  position: relative;
}
p {
  font-size: 16px;
  color: hsl(231, 11%, 63%);
}

h1 {
  color: hsl(213, 96%, 18%);
}
label {
  color: hsl(213, 96%, 18%);
  font-size: 15px;
}

input {
  height: 45px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid hsl(228, 100%, 84%);
  transition: 0.3s ease-in-out;
}
.form {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
input:focus {
  border: 1px solid hsl(243, 100%, 62%);
  outline: none;
}
.info {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 500px;
}
